/* цвет основного текста #757575;*/
/* вторичный цвет текста #212121; */
/* акцент #2196F3 */
/* белый цвет  #FFFFFF; */
html {
  box-sizing: border-box;
}
/* компоненты */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent: #2196f3;
  --white: #ffffff;
  --bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --border-color: #ececec;
  --bg-icon-color: #afb1b8;
}

body {
  background-color: var(--white);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}
header {
  width: 100%;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
textarea {
  resize: none;
}
img {
  padding: 0px;
  margin: 0px;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header {
  border-bottom: 1px solid var(--border-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section.no-padding {
  padding-bottom: 0px;
}
.header-container {
  display: flex;
}
.nav-container {
  display: flex;
  align-items: center;
}
/* навигация */

.site-nav {
  display: flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}
/* логотип */
.logo {
  color: var(--accent);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  margin-right: 85px;
}

.part {
  color: #000000;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

a.link {
  color: var(--secondary-text-color);
}

.link.current {
  position: relative;
  color: var(--accent);
}
.link.current::after {
  position: absolute;
  left: 0;
  top: 96%;
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}
.link.current:hover,
.link.current:focus {
  color: #000000;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.contact.info {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact.info:hover,
.contact.info:focus {
  color: var(--accent);
}
.icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

.contact + .contact {
  margin-left: 30px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/header-img.jpg);
  background-position: center;
  background-size: cover;
  /* width: 1600px; */
  height: 600px;
}
.hero-title {
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-content {
  max-width: 696px;
}

.main-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

.benefit-item-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.grid {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}
.grid-item {
  width: calc((100% - 30px * 3) / 4);
}
.grid-item:not(:last-child) {
  margin-right: 30px;
}
.benefit-item::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
}
.grid-item:nth-child(1)::before {
  background-image: url(../images/antenna-1.svg);
}
.grid-item:nth-child(2)::before {
  background-image: url(../images/clock-1.svg);
}
.grid-item:nth-child(3)::before {
  background-image: url(../images/diagram-1.svg);
}
.grid-item:nth-child(4)::before {
  background-image: url(../images/astronaut-1.svg);
}

.features {
  display: flex;
}
.feature-item {
  width: calc((100% - 30px * 2) / 3);
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-thumb {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.feature-text {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 82px;
  padding-right: 82px;
  width: 100%;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  background: rgba(47, 48, 58, 0.8);
}
.title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.benefit-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
}
.section.team {
  background-color: var(--secondary-bg-color);
}
.team img {
  display: block;
}
.section .section-team {
  display: flex;
}
.team-item {
  width: calc((100% - 30px * 3) / 4);
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-content {
  text-align: center;
  padding: 30px 32px;
}

.team-description {
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.team-text {
  margin-top: 0px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: var(--accent);
}
.social-link:hover .social-icon {
  fill: #ffffff;
}

.section .client-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.client-list {
  display: flex;
  flex-wrap: wrap;
}
.client-icon {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item {
  width: 170px;
  height: 90px;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-list .client:hover,
.client-list .client:focus {
  color: var(--accent);
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover {
  border-color: var(--accent);
}
.client-link:hover .client-icon {
  fill: var(--accent);
}

.address .contact-info {
  display: inline-block;
  margin-top: 9px;
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info:hover,
.contact-info:focus {
  color: var(--accent);
}
/* Портфолио */
.example {
  display: flex;
  flex-wrap: wrap;
}

.example-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 30px * 2) / 3);
}
.example-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-link:hover .inner-text {
  transform: translateY(0%);
}

.example-element:nth-child(3n) {
  margin-right: 0px;
}
.example-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.example-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.example-title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-wrapper {
  position: relative;
  overflow: hidden;
}
.example .inner-text {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  background-color: var(--accent);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-text {
  margin-bottom: 0px;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.button {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}
.button-item {
  padding-top: 8px;
  padding-right: 22px;
  padding-bottom: 8px;
  padding-left: 22px;
  border: transparent;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:hover,
.button-item:focus {
  color: var(--white);
  background-color: var(--accent);
}
.button-item:not(:last-child) {
  margin-right: 8px;
}

.img {
  display: block;
}
/* Подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.footer .logo {
  margin-bottom: 20px;
  margin-right: 0px;
}

.footer .logo.part {
  margin-right: 0px;
  color: #ffffff;
}
.location {
  display: inline-block;
  margin-top: 20px;
  color: #ffffff;
  font-style: normal;
}
.center-section {
  margin-left: 70px;
}

.center-section .social {
  display: flex;
}
.center-section .text {
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 20px;
}

.link-item:not(:last-child) {
  margin-right: 10px;
}

.dark-theme .social-icon {
  fill: white;
}
.footer-subscribe {
  margin-left: 93px;
}
.footer-subscribe .text {
  margin-bottom: 20px;
}
.footer-field {
  display: flex;
  align-items: center;
}
.footer-input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--white);
  border-radius: 4px;
}
.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  /* padding: 10px 55px; */
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
}
.footer-icon {
  margin-left: 10px;
}

/* Конец футера */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  min-height: 581px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.cross-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.cross-button:hover {
  border-color: var(--accent);
}

.cross-button:hover .icon-close {
  fill: var(--accent);
}
.modal-title {
  margin-bottom: 12px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-label {
  margin-bottom: 4px;
}

.form-input {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent);
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-icon {
  fill: var(--accent);
}

.form-textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent);
}
.form-wrapper-checkbox {
  display: flex;
  align-items: center;
}
.checkbox-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.form-label-checkbox::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 4px;
}
.checkbox-input:checked + .form-label-checkbox::before {
  background-color: var(--accent);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent);
}
.modal-icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
}
.checkbox-link {
  text-decoration: underline;
  color: var(--accent);
  margin-left: 3px;
}
.modal-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 55px;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}
.form-wrapper-button {
  display: flex;
  justify-content: center;
}
